<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/assets")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        a {
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            padding: 10px 10px 10px 30px;
            font-family: "Roboto", sans-serif;
            color: white;
            white-space: nowrap;
            transition: 0.3s;
            text-transform: uppercase;
            font-weight: 500;
        }
            a:hover {
                -webkit-transform: scale(1.2);
                color:white;
            }
        #navbar{
            padding-top:30px;
        }
        
    </style>

</head>

<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-sm-auto sticky-top order-last order-lg-0" id="navbar" style="background-color:#3fbbc0">
                <div class="d-flex flex-sm-column flex-row flex-nowrap align-items-center sticky-top" style="background-color:#3fbbc0; text-decoration:none;">

                    <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center text-decoration-none">
                        <li class="nav-item">
                            @Html.ActionLink("Acasa", "Index", "Home")

                        </li>
                        <li class="nav-item"> @Html.ActionLink("Doctori", "Index", "Doctors")</li>
                        @if (User.IsInRole("Patient"))
                        {

                            <li>@Html.ActionLink("Informatii personale", "Show", "Patients")</li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">@Html.ActionLink("Adaugare specializari", "Create", "Specializations")</li>
                            <li class="nav-item">@Html.ActionLink("Adaugare Doctor", "Create", "Doctors")</li>
                            <li class="nav-item">@Html.ActionLink("Afisare utilizatori", "Index", "Users")</li>
                        }
                        <li class="nav-item">@Html.ActionLink("Afisare specializari", "Index", "Specializations")</li>
                        <li class="nav-item">@Html.ActionLink("Despre noi", "About", "Home")</li>
                        <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
            <div class="col-sm p-3 min-vh-100">
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year -MediConnect&trade;</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
